html {
  height: 100%;
}

body {
  background-image: url("../img/starstwinkle.gif");
  background-repeat: repeat;
  min-height: 100%;
  font-family: 'VT323', monospace !important;
  font-size: 1.25em !important;
}

#topBtn {
  position: fixed;
  left: 30px;
  bottom: 20px;
  font-size: 12px;
}
